@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-family: 'Roboto';
$btn-blue: #415AFF;
$btn-yellow: #F5FF93;
$bg-grey: #8D9499;
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 100%;
$md1: $maxWidthContainer + 12; 
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    max-width: $maxWidth;
    margin:0 auto;
    font-size: 16px;
}
.nav {
  display: flex;
  justify-content: left;
  gap:3em;
  padding:1em 0;
  // width: $maxWidth;
    &__list {
      display:flex;
      gap:1.5em;
    }
    &__link {
      text-decoration: none;
      color:black;
      font-size: 1em;
      &:first-child {
        color: $btn-blue;
      }
    }
}
.description {
  display: flex;
  justify-content: center;
  gap:10em;
  margin-top: 4em;
  &__title {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3.3em;
      margin: 0;
      padding:0;
    }
    p {
      font-size: 1.1em;
    }
    span {
        font-size: 0.9em;
        color:$bg-grey;
        margin-top: 1em; 
      }
    
  }
}
.featured {
  margin-top: 4em;
  h5 {
    text-align: center;
  }
  .phoneBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6.2em;
    h5 {
      font-size: 1em;
      font-weight: 700;
      margin-top: 6.2em;
      margin-left: 1em;
      text-align: left;
    }
    p {
      font-size: 1.3em;
      line-height: 2.5em;
      margin-left:1em;
    }
    &__secondBlock {
      margin-top: 7.6em;
    }
  }
  &__companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4em;
  }
}
.trackers {
  display: flex;
  justify-content: space-between;
  margin-top: 6.2em;
  &__info {
    // display: flex;
    // flex-direction: column;
    align-items: left;
    margin-right: 18.7em;
    margin-top: 5.6em; // можно так?
    h5 {
      font-size: 1em;
      letter-spacing: 0.1em;
      font-weight: 700;
    }
    h4 {
      font-size: 2em;
      padding:0;
      margin:0;
    }
    h3 {
      font-size: 3.5em;
    }
    .trackers__button {
      font-size: 1em;
      outline: none;
      background-color: $btn-yellow;
      border: none;
      font-weight: 700;
      border-radius: 3.1em 3.1em 3.1em 3.1em;
      padding: 1.3em 4em 1.6em 2em;
      cursor: pointer;
    }
  }
}
.result {
  display: flex;
  justify-content: space-between;
  margin-top: 6.2em;
  &__info {
    // display: flex;
    // flex-direction: column;
    align-items: right;
    margin-left: 6.2em;
    margin-top: 2.7em;
    h5 {
      font-size: 1em;
      letter-spacing: 0.1em;
      font-weight: 700;
    }
    h4 {
      font-size: 2em;
      padding:0;
      margin:0;
    }
    h3 {
      font-size: 3.5em;
      margin:1.5em 0;
    }
    .result__button {
      font-size: 1em;
      outline: none;
      background-color: $btn-yellow;
      border: none;
      font-weight: 700;
      border-radius: 3.1em 3.1em 3.1em 3.1em;
      padding: 1.3em 4em 1.6em 2em;
      cursor: pointer;
    }
  }
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 4em;
  }
  span {
    font-size: 0.9em;
    color:$bg-grey;
    margin-top: 1em; 
  }
}
.creaters {
  display: flex;
  justify-content: space-around;
  margin-top: 7em;
  &__title {
    margin-top: 12em;
    margin-left: 2em;
    h4 {
      font-size: 2em;
      padding:0;
      margin:0;
    }
    h3 {
      font-size: 3.5em;
      margin:1.5em 0;
    }
    button {
      font-size: 1em;
      outline: none;
      background-color: $btn-yellow;
      border: none;
      border-radius: 3.1em 3.1em 3.1em 3.1em ;
      font-weight: 700;
      padding:1.7em 5.6em 1.5em 1.6em;
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3em 7em;
    p {
      font-size: 20px;
      &:nth-child(2) {
        font-size: 24px;
      }
    }
  }
}
.review {
  margin-top: 100px;
  h5 {
    font-size: 26px;
    margin-left: 75px;
  }
  &__blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
  &__info {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 3px rgba(0,0,0,0.1);
    p {
      font-size: 20px;
      padding:20px 0;
      margin-left: 40px;
    }
    img {
      position: relative;// как
      margin-left: 40px;
    }
    span {
      width: 100%;
      font-size: 11px;
      margin-left: 40px;
      &:last-child {
        color:$bg-grey;
      }
    }
  }
}
.end {
  margin-top: 195px;
  display: flex;
  justify-content: space-around;
  &__info {
    align-items: center;
    h2 {
      font-size: 3.2em;
    }
    span {
        font-size: 0.9em;
        color:$bg-grey;
        margin-top: 1em; 
      }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #8D9499;
  padding:3.1em 3.3em;
  margin-top: 4.8em;
  &__leftspot {
    display: flex;
    justify-content: start;
    gap:4.1em;
  }
  &__links {
    display: flex;
    flex-direction: column;
    a {
      color:black;
      text-decoration: none;
      font-weight: 700;
      font-size: 0.8em;
      line-height: 1.9em;
    }
  }
  &__rightspot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__socials {
    display: flex;
    gap:2em;
  }
}
.mainForm {
    display: flex;
    align-items: stretch;
  input {
    padding:1em;
    border-radius: 999rem 0 0 999rem;
    font-size: 1.1em;
    border: 1px solid $bg-grey;
  }
  button {
    display: flex;
    align-items: center;
    gap: 1.2em;
    outline: none;
    background-color: $btn-blue;
    padding:1em;
    color: white;
    font-size: 1.1em;
    border-radius: 0 999rem 999rem 0;
    border: none;
    cursor: pointer;
  }
}
@media (max-width:576px ) {
  .container {
    // padding:0 em;
  }
  body {
    font-size: 12px;
  }
  .description {
    flex-direction: column-reverse;
    
    img {
      width: 100%;
    }
    &__title {
      align-items: center;
      text-align: center;
      button {
       
      }
    }
  }
  .featured {
    margin-top: 0;
    text-align: center;
  &__companies {
    flex-direction: column;    
    }
    .phoneBlock {
      flex-direction: column;
      gap:0!important;
      &__firstblock {
        h5 {
          text-align: center;
        }
      }
  }
}
  .trackers {
    section:first-child {
      display: none;
    }
    &__info {
      margin:0 auto;
    }
  }
  .result {
    section:last-child {
      display: none;
    }
    &__info {
      margin: 0 auto;
      
    }
  }
  .creaters {
    flex-direction: column;
    &__info {
      grid-template-columns: 1fr;
      margin:0 auto;
      margin-top: 5em;
    }
    &__title {
      margin:0 auto;
    }
  }
  .review {
    &__blocks {
      flex-direction: column;
    }
  }
  .end {
    flex-direction: column;
    margin:0 auto;
    &__info {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    section:last-child {
      display: none;
    }
  }
  .footer {
    flex-direction: column;
    align-items: center;
    &__rightspot {
      align-items: center;
      margin-top: 2em;
      span {
        display: none;
      }
    }
  }
}