@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-family: 'Roboto';
$btn-blue: #415AFF;
$btn-yellow: #F5FF93;
$bg-grey: #8D9499;
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 100%;
$md1: $maxWidthContainer + 12; 
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    max-width: $maxWidth;
    margin:0 auto;
}
.nav {
  display: flex;
  justify-content: left;
  gap:50px;
  padding:20px 0;
  // width: $maxWidth;
    &__list {
      display:flex;
      gap:24px;
    }
    &__link {
      text-decoration: none;
      color:black;
      font-size: 16px;
      &:first-child {
        color: $btn-blue;
      }
    }
}
.description {
  display: flex;
  justify-content: center;
  gap:160px;
  margin-top: 60px;
  &__title {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 55px;
      line-height: 0;
    }
    p {
      font-size: 20px;
    }
    input {
      padding:27px 93px 27px 25px;
      border-radius: 50px 0 0 50px;
      font-size: 18px;
      border: 1px solid $bg-grey;
    }
    button {
      outline: none;
      background-color: $btn-blue;
      padding:28px 88px 26px 28px;
      color: white;
      font-size: 18px;
      border-radius: 0 50px 50px 0;
      border: none;
      position: absolute;
      cursor: pointer;
    //   img {
    //   
    // }
    }
    span {
        font-size: 13px;
        color:$bg-grey;
        margin-top: 10px; 
      }
    
  }
}
.featured {
  h5 {
    text-align: center;
    margin-top: 65px;
  }
  .phoneBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    h5 {
      font-size: 16px;
      font-weight: 700px;
      margin-top: 100px;
      margin-left: 15px;
      text-align: left;
    }
    p {
      font-size: 21px;
      line-height: 40px;
      margin-left:15px
    }
    &__secondBlock {
      margin-top: 122px;
    }
  }
  &__companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:65px;
  }
}
.trackers {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  &__info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 300px;
    margin-top:89px; // можно так?
    h5 {
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 700;
    }
    h4 {
      font-size: 32px;
      line-height: 40px;
      margin:0;
    }
    h3 {
      font-size: 56px;
      margin:30 0;
    }
    .trackers__button {
      font-size: 16px;
      outline: none;
      background-color: $btn-yellow;
      border: none;
      border-radius: 30%;
      font-weight: 700px;
    }
  }
}
.result {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  &__info {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: 100px;
    margin-top: 40px;
    h5 {
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 700;
    }
    h4 {
      font-size: 32px;
      line-height: 40px;
      margin:0;
    }
    h3 {
      font-size: 56px;
      margin:30 0;
    }
    .result__button {
      font-size: 16px;
      outline: none;
      background-color: $btn-yellow;
      border: none;
      border-radius: 30%;
      font-weight: 700px;
    }
  }
}